body {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  border: 1px solid rgb(221, 219, 255);
  border-radius: 10px;
  width: 12%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
}

label {
  display: block;
  margin: 5px;
  margin-top: 20px;
  color: gray;
  font-size: 12px;
}
legend {
  font-weight: bold;
  color: #7471ff;
  border: 1px solid #edf3ff;
  border-radius: 5px;
  padding: 2px;
  background-color: #edf3ff;
  margin-left: auto;
  margin-right: auto;
}
input {
  border-top: none;
  border-bottom: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
}
.radiosex {
  display: inline;
}
div {
  margin-top: 20px;
}
