body {
  background-color: rgb(243, 229, 214);
}
h1 {
  color: rgb(105, 34, 0);
}
.table1 {
  background-color: rgb(218, 196, 169);
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-VariableFont_wght.woff2") format(woff2);
}

body {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}
.under {
  text-decoration: underline;
}
.picstik {
  position: fixed;
}

.abbr {
  line-height: 1.5;
}
table {
  width: 600;
  margin: auto;
  text-align: center;
}
